.main-container {
    margin-top: 40px;
    margin-left: 30px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 4fr 4fr;

}

.practice-container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.details-container {

    padding: 10px;
    margin-top: -25px;

}

@media screen and (max-width:576px) {

    .main-container {

        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin: 40px auto;
    }

    .practice-container {

        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .details-container {

        padding: 0px;

    }
}

@media screen and (min-width:577px) and (max-width:992px) {

    .main-container {

        display: flex;
        flex-direction: column-reverse;

    }

    .practice-container {

        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

}